<div class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{#link-to 'authors' class="btn btn-default"}} Authors {{/link-to}}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{#link-to 'repositories' class="btn btn-default"}} Repositories {{/link-to}}
            </div>
        </div>
    </div>
</div>
{{outlet}}
